.tarea-formulario{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tarea-input{
    width: 350px;
    font-size: 18px;
    background-color: #ffffff;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid rgb(248, 189, 242);
    outline: none;
}

.tarea-boton{
    padding: 16px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background-color: #da79e5;
    color: #ffffff;
    text-transform: capitalize;
}

.tarea-boton:hover{
    background-color: #c060ca;
}

@media only screen and (min-width: 320px) and (max-width: 645px) {
    .tarea-formulario{
        display: flex;
        flex-direction: column;
    }
    .tarea-input{
        width: 90%;
        border-radius: 4px;
    }

    .tarea-boton{
        margin-top: 5px;
        border-radius: 4px;
        padding: 14px;       
  
  }}

